@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
/* ======================NORMALIZE====================== */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1;
}
/* ======================NORMALIZE====================== */
body {
   font-family: "Lato";
   color: #303030;
   padding: 10px;
}

.wrapper {
   position: relative;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex-grow: 1;
}


.block {

}
.block__task {
   padding: 10px 15px;
   background-color: rgb(238, 238, 238);
   /* box-shadow: 2px 2px 5px 0px rgb(0, 0, 0); */
}
.block__task:hover {
   transition: all 0.3s ease 0s;
   box-shadow: 2px 2px 5px 0px rgb(0, 0, 0);
}
.block__task:not(:last-child) {
   margin-bottom: 1.25rem;
}
.task {
}
.tast__name {
   font-weight: 700;
   font-size: 1.125rem;
}
.tast__name:not(:last-child) {
   margin-bottom: 15px;
}
.task__button {
   display: inline-block;
   padding: 5px 10px;
   border-radius: 20px;
   border: 1px solid #000;
   font-size: 1.125rem;
   transition: all 0.3s ease 0s;
}
.task__button:hover {
   background-color: rgb(255, 255, 255);
}
table,th,td {
   border: 1px solid #000;
   border-collapse: collapse;
}
td, th {
   padding: 5px;
}